.form-input {
    color:#5A5A5A;
    margin-bottom: 0;
    padding-bottom: 0;
}

.btn-link {
    color: #5A5A5A !important;
    background-color: white !important;
}

.password-btn {
    background-color: #E0E0E0 !important;
}


