.main.navbar {
    background-color: #A64E46;
    padding: 0 !important;
}

.container-fluid {
    padding: 0 !important;
}

.main.nav-link {
    color: #FBF8E6 !important;
    padding: 0.75rem !important;
}

.main.nav-link:hover {
    background-color: #F29544;
}
