.navbar {
    background-color: #A64E46;
    padding: 0 !important;
}

.container-fluid {
    padding: 0 !important;
}

.nav-link {
    color: #FBF8E6 !important;
    padding: 0.75rem !important;
}

.nav-link:hover {
    background-color: #F29544;
}

#pfp-link {
    background-color: #A64E46;
}

.navbar-img {
    border-radius: '50%' !important;
    width: '2rem' !important;
    padding: 0 !important;
}