.profile-card {
    background-color: #2A2640;
    color: #FBF8E6;
}

.edit-btn {
    cursor: pointer;
    color: #734656;
}

.active.profile.nav-link {
    background-color: #F29544;
    color: #FBF8E6;
}