
.form-input {
    color:#5A5A5A;
    margin-bottom: 0;
    padding-bottom: 0;
}

.btn-link {
    border: black !important;
    color: #5A5A5A !important;
    background-color: white !important;
}

.btn-link:hover {
    border: white !important;
    color: #5A5A5A !important;
    background-color: white !important;
}

.btn-link:active {
    border: white !important;
    color: #5A5A5A !important;
    background-color: white !important;

}
